* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif
}

html {
    scroll-behavior: smooth;
}



nav {
    height: 70px;
    width: 100%;
    background-image: linear-gradient(to right, black, rgb(8, 8, 69));
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;





}

.options {
    display: flex;
    gap: 50px;
    list-style-type: none;

}

.options a {
    text-decoration: none;
    color: white;
}




.logo {
    height: 60px;
    width: 60px;
    background-image: url(/Port/logo/2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.day i {
    color: white;
}


ul {
    display: flex;
    gap: 20px;
    list-style-type: none;

}



/* section */

section {
    height: 460vh;
    width: 100%;
    background-image: linear-gradient(to right, black, rgb(8, 8, 69));
    margin: 0px;



}


/*main*/
.main {
    height: 600px;
    width: 80%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 100px;
    color: white;


}


.box {
    height: 400px;
    /* background-color: red; */
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.image img {
    height: 350px;
    width: 500px;
    border-radius: 30px;
}

.content {
    height: 400px;
    padding: 50px;

}

.content h1 {
    font-size: 3rem;
    color: white;
}

.content p {
    padding-top: 20px;
    font-size: 1.2rem;
    color: gainsboro;
}

/* About Section */

.heading {
    font-size: 3.5rem;
    padding-left: 50px;
}


.details p {
    font-size: 1.1rem;
    width: 80%;
    margin: auto;
    margin: 50px;
}

.review {
    margin: auto;
    margin-top: 150px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 1.1rem;
}

.review strong {
    font-size: 3rem;
}

/* C0ntact */
.container {
    height: 80vh;
    width: 80%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 100px;
    color: white;
}

.info {
    height: 400px;

}








/* Projects */
.edu-box2 {
    width: 80%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    justify-content: space-around;
}

.lvl {
    text-align: center;
    display: block;
    height: 350px;
    width: 23%;
    display: inline-block;
    margin-top: 30px;


}

.lvl h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid white;
    display: inline-block;
    width: 250px
}

.lvl ul {
    width: 150px;
    display: inline-block;
    line-height: 1.7;
    margin: 10px 0;
    /* border: 1px solid salmon; */
    text-align: left;
    list-style-type: circle;
}

.lvl a {
    color: white;
    text-decoration: underline
}

.lvl a:link {
    color: white;
}

/* .lvl a:visited {
    color: antiquewhite
} */

.lvl a:hover {
    color: yellow;
}








/* C0ntact */
.container {
    height: 80vh;
    width: 80%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
    padding-top: 100px;
    color: white;
}

.info {
    height: 400px;

}


.icon {
    margin: 50px 0px;
    display: flex;
    justify-content: center;

}

.icon i {
    font-size: 2rem;
    text-decoration: none;
    color: white;
}

#cont {
    text-align: center;
    margin: 40px 0;
}




/* form */

.container_2 {
    height: 60vh;
    width: 80%;
    /* background-color: antiquewhite; */
    margin: auto;
    display: block;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 50px;
    color: white;
}

.C-form {
    width: 60%;
    margin: auto;
    padding: 30px;

}

.C-form label {
    width: 100%;

}

.C-form input {
    width: 100%;
    height: 40px;
    margin: 15px 0px;
    padding: 0px 10px;
    border-radius: 10px;
}

.C-form textarea {
    width: 100%;
    height: 40px;
    resize: none;
    overflow: auto;
    padding: 10px 10px;
    border-radius: 10px;
}


.last-btn {
    width: 100%;
    text-align: center;
    padding: 5px;

}

.btn {
    padding: 10px 30px;
    background-color: #c4f000;
    border-radius: 20px;


}

#subject {
    margin: 15px 0px;
}

.success-message {

    width: 150px;
    /* background-color: #040238; */
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.success-message i,
h2 {
    text-align: center;
    padding: 5px;
    font-size: 30px;

}

/* footer */

footer {
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer h3 {
    font-size: 0.9rem;
    font-weight: 700;
    color: white;

}


/* Rexponsive */

@media screen and (max-width: 1024px) {

    .main {
        height: 600px;
        width: 80%;
        /* background-color: antiquewhite; */
        padding: 0;
        display: block;
        color: white;


    }

    .box {
        height: 400px;
        /* background-color: red; */
        width: 100%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        align-items: center;

    }

    .image img {
        height: 280px;
        width: 400px;
        border-radius: 30px;
    }

    #about {
        padding-top: 100px;
    }

    #project {
        padding-top: 100px;

    }

    .heading {
        font-size: 2.5rem;
    }



    .edu-box2 {
        width: 100%;
        height: 400px;

        display: flex;
        flex-wrap: wrap;
        /* border: 1px solid red; */
        justify-content: space-around;
    }

    .lvl h3 {
        width: 170px;
        font-size: 0.9rem;
        padding: 2px;
    }

    section {
        height: 510vh;
    }

    .container_2 {
        height: 90vh;
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {


    .main {
        height: 450px;
    }

    .content h1 {
        font-size: 2rem;


    }

    .content p {
        font-size: 1rem;
        text-align: justify;
    }

    .content {
        padding: 20px;
        height: 280px;
    }

    .image img {
        height: 180px;
        width: 250px;

    }

    .C-form {
        width: 90%;
    }

    section {
        height: 430vh;
    }

}

@media screen and (max-width: 426px) {
    nav {
        justify-content: center;
    }

    .logo {
        display: none;
    }

    .medias {
        display: none;
    }

    .box {
        padding: 0;
        margin: 0;
    }

    .image {
        display: none;
    }

    .content {
        padding-top: 80px;
    }

    .main {
        height: 480px;
    }

    .review {
        margin: auto;
    }

    .edu-box2 {
        display: block;
        height: 800px;
    }

    .lvl {
        display: block;
    }

    #project {
        height: 1300px;
    }

    section {
        height: 580vh;
    }

    .C-form {
        width: 280px;
        margin: auto;
        padding: 0;
    }

    .container_2 {
        padding: 50px 0px;
    }




}